<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-container container">
        <div class="header-row">
            <div class="header-column">
                <div class="header-row">
                    <div class="header-logo">
                        <a href="/"><p><img alt="logo" height="55" src="" width="165"></p>   
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-column justify-content-end">
                <div class="header-row">
                    <div class="header-nav header-nav-links order-2 order-lg-1">
                        <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                            <nav class="collapse">
                                <ul class="nav nav-pills" id="mainNav">
                                    <li>
                                        <a href="https://www.ideadc.com" class="">Home</a> 
                                    </li>
                                    <li class="dropdown">
                                        <a href="https://www.ideadc.com/product.html" class="">Product</a>
                                    </li>
                                    <li>
                                        <a href="https://www.ideadc.com/pricing.html" class="">Pricing</a> 
                                    </li>
                                    <li class="dropdown">
                                        <a href="https://www.ideadc.com/support.html" class="">Support</a>
                                    </li>
                                    <li>
                                        <a href="https://www.ideadc.com/contact-us.html" class="">Contact Us</a> 
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="footer bg-color-quaternary position-relative mt-0" id="footer" style="background-color: #171940 !important;">
        <div class="container mt-0 mb-4">
        <div class="row py-5">
        <div class="col-lg-3 mb-5 mb-lg-0">
        
        <div class="col-lg-3 mb-4 mb-lg-0">
        <h4 class="font-weight-bold text-color-light text-5 ls-0 pb-1 mb-2">USEFUL LINKS</h4>
        
        <ul class="list list-unstyled">
            <li class="mb-1"><a href="/">Home</a></li>
            <li class="mb-1"><a href="/product.html">Products</a></li>
            <li class="mb-1"><a href="/pricing.html">Pricing</a></li>
            <li class="mb-1"><a href="/support.html">Support</a></li>
            <li class="mb-1"><a href="/contact-us.html">Contact Us</a></li>
        </ul>
    </div>
        
        <div class="col-lg-3">
        <h4 class="font-weight-bold text-color-light text-5 ls-0 pb-1 mb-2">CONTACT US</h4>
        
        <ul class="list list-unstyled">
            <li class="mb-1">4W Red Oak Lane<br>
            Suite 111<br>
            White Plains, NY 10604<br>
            USA</li>
            <li class="mb-1">Phone: <a>number</a></li>
            <li class="mb-1">Email: <a href="#">office@.com</a></li>
        </ul>
        </div>
        </div>
        
        <div class="footer-copyright bg-color-quaternary" style="background-color: #171940 !important;">
        <div class="container py-2">
        <hr class="bg-color-light opacity-1 mb-0" >
        <div class="row justify-content-center py-4">
        <div class="col-auto">
        <p class="text-color-light opacity-5 text-3" style="color: #FFF !important;"> © Copyright 2021. All Rights Reserved.</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </footer>
</body>
</html>