{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Digital Agency India</h1>
<p> Soft is a Surat-based Digital Agency passing high quality, cost-productive, reliable result-oriented web and e-commerce clarifications on time for a global clientele. Professionalism, Skill and Expertise are the tools we use to make the web work for your profession declaring in maximum return on your investment in shortest probable time.</p>
<p>We have presented on IT projects of varying complexities for our very demanding and Internet savvy clients spread across the globe. We develop different web solutions which ensure increased efficiency and competitive advantage for your business and thus to your end users.</p>
<p>We specialize in web design, web application development, digital marketing, eCommerce application development, multimedia solutions, content writing, graphic and logo design. We build web clarifications, which evolve with the changing needs of your business. We have a deeply capable team of Google Adwords certified PPC experts, Google Analytics certified professionals, expert web consultants, creative designers, content writers, programmers and digital marketing professionals who know how to deliver results. We treat each of our clients personally and therefore we do not offer set prices on any service.</p>
{% endblock %}