{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>We Are Your Digital Partner</h1>
<span>Hire us for peerless obliging and Stable Website and SAAS Applications.</span>

<img alt="script" src="{% static 'images/concept.png'%}"/>

<h1>WHAT WE DO & WE DO IT WELL</h1>

<div class="vc_column-inner ">
    <div class="wpb_wrapper">
    <article class="icon-box24">
        <a href="https://globaliasoft.com/wordpress-development/">
            <i class="fa-wordpress" style=" color:#113685;"></i>
        </a>
        <h4><strong>Creative<br></strong>Design</h4>
        <p>We deliver a creative Website design solution with you great user experience to represent your brand to establish a connection with customers instantly.<br></p>
        <a style="color:#113685" class="magicmore" href="https://globaliasoft.com/wordpress-development/">Read More</a>
    </article>
</div>
</div>
{% endblock %}